:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #130532;
  --accent-color: #ff0070;
  --main-title-font-color: #db00ff;
  --main-font-color: #f1b2ce;
  --button-color: #ff0070;
  --subtitle-color: var(--accent-color, #ff0070);
  --button-outline-color-hover: #ff007066;
}

.theme-dark .header__decor {
  display: block;
}

