:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #e0c2d8;
  --accent-color: #ff8dcb;
  --main-title-font-color: #ffc2e6;
  --main-font-color: #353430;
  --subtitle-color: #353430;
  --button-color: #353430;
  --button-outline-color-hover: #32312d66;
}

.theme-light .header__decor {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #e0c2d8;
    --accent-color: #ff8dcb;
    --main-title-font-color: #ffc2e6;
    --main-font-color: #353430;
    --subtitle-color: #353430;
    --button-color: #353430;
    --button-outline-color-hover: #32312d66;
  }

  .header__decor {
    display: none;
  }

}
