:root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #130532;
  --main-font-family: "IBM Plex mono";
  --main-font-color: #f1b2ce;
  --main-font-size: 18px;
  --main-padding: 10px;
  --section-gap: 30px;
  --main-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-titile-font-color: #db00ff;
  --accent-color: #ff0070;
  --subtitle-color: #ff0070;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --button-color: #ff0070;
  --button-outline-color-hover: #ff007066;
}

@media (min-width: 768px) {
  :root {
    --main-padding: 20px;
  }
}

@media (min-width: 1024px) {
  .header,
  .footer {
    --main-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
